
body{
    font-family: 'Consolas', sans-serif;
    background-color: #8EDCE6;
}

#mainDiv{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}

header{
    text-align: center;
    font-size: 22px;
    font-style: italic;
    padding-top:5%
}
h3{
    font-style: italic;
}
article{
    padding-left: 10px;
    padding-right: 10px;
    height: 30em;
    width: 17em;
    border: 5px #0B7A75 solid;
    border-radius: 16px;
    margin: 10px;
    background-color: #802392;
    color:#FBB7C0;
}

form{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-color: #0B7A75;
    border: 5px #0B7A75 solid;
    border-radius: 16px;
    background-color: #802392;
    color:#FBB7C0;
    text-align: center;
}

img{
    float: right
}

#formDiv{
    padding-left: 25%;
    padding-right: 25%;
    margin-right: auto;
    margin-left: auto;
}

#playedGames{
    justify-content: center;
    display:grid;
    grid-template-columns: 100px 100px 100px 100px;
}

#addWins{
    margin-bottom: 5px;
}

.errorMsg{
    color: red;
}

td, th{
    border: 5px #0B7A75 solid;
    border-radius: 16px;
}


#rankingDiv{
    padding-right: auto;
    padding-left: auto;
    text-align: center;

    
}

table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}



@media only screen and (max-width: 768px){
form{
    justify-content: center;
    margin-right: 0px;
    margin-left: 0px;
}
#formDiv{
    padding-right: 8%;
    padding-left: 8%;
}
#rankingDiv{
    float: none;
    padding-right:10%;
    padding-right: 10%
     
}


} 